In [27]:
import pandas as pd
df = pd.read_csv('games.csv')
champs = pd.read_json('champion_info.json')

In [28]:
df

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,3308904636,1503076540231,1944,9,2,1,2,2,0,2,...,10,2,0,4,0,55,-1,90,238,157
51486,3215685759,1496957179355,3304,9,2,1,1,2,2,2,...,11,7,4,4,1,157,55,119,154,105
51487,3322765040,1504029863961,2156,9,2,2,2,2,0,1,...,10,2,0,2,0,113,122,53,11,157
51488,3256675373,1499562036246,1475,9,2,2,2,2,0,2,...,11,3,0,1,0,154,39,51,90,114
51489,3317333020,1503612754059,1445,9,1,1,1,1,1,2,...,1,0,0,1,0,11,157,141,31,18

In [29]:
print(champs)

         type version                                               data
1    champion  7.17.2  {'title': 'the Dark Child', 'id': 1, 'key': 'A...
2    champion  7.17.2  {'title': 'the Berserker', 'id': 2, 'key': 'Ol...
3    champion  7.17.2  {'title': 'the Colossus', 'id': 3, 'key': 'Gal...
4    champion  7.17.2  {'title': 'the Card Master', 'id': 4, 'key': '...
5    champion  7.17.2  {'title': 'the Seneschal of Demacia', 'id': 5,...
..        ...     ...                                                ...
429  champion  7.17.2  {'title': 'the Spear of Vengeance', 'id': 429,...
432  champion  7.17.2  {'title': 'the Wandering Caretaker', 'id': 432...
497  champion  7.17.2  {'title': 'The Charmer', 'id': 497, 'key': 'Ra...
498  champion  7.17.2  {'title': 'the Rebel', 'id': 498, 'key': 'Xaya...
516  champion  7.17.2  {'title': 'The Fire below the Mountain', 'id':...

[138 rows x 3 columns]

In [30]:
df = df.drop('gameId',axis=1)
df = df.drop('creationTime',axis=1)
df = df.drop('gameDuration',axis=1)
df = df.drop('seasonId',axis=1)
df

,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_champ1id,t1_champ1_sum1,t1_champ1_sum2,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,1,2,1,1,1,1,2,8,12,4,...,5,0,0,1,1,114,67,43,16,51
1,1,1,1,1,0,1,1,119,7,4,...,2,0,0,0,0,11,67,238,51,420
2,1,2,1,1,1,2,0,18,4,7,...,2,0,0,1,0,157,238,121,57,28
3,1,1,1,1,1,1,0,57,4,12,...,0,0,0,0,0,164,18,141,40,51
4,1,2,1,1,1,1,0,19,4,12,...,3,0,0,1,0,86,11,201,122,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,2,1,2,2,0,2,0,19,12,4,...,10,2,0,4,0,55,-1,90,238,157
51486,2,1,1,2,2,2,2,90,4,14,...,11,7,4,4,1,157,55,119,154,105
51487,2,2,2,2,0,1,0,141,11,4,...,10,2,0,2,0,113,122,53,11,157
51488,2,2,2,2,0,2,0,121,11,4,...,11,3,0,1,0,154,39,51,90,114
51489,1,1,1,1,1,2,0,89,3,4,...,1,0,0,1,0,11,157,141,31,18

In [31]:
df['t1_champ1'] = df['t1_champ1id'].apply(lambda x : champs['data'][x]['name'])
df['t1_champ2'] = df['t1_champ2id'].apply(lambda x : champs['data'][x]['name']) 
df['t1_champ3'] = df['t1_champ3id'].apply(lambda x : champs['data'][x]['name']) 
df['t1_champ4'] = df['t1_champ4id'].apply(lambda x : champs['data'][x]['name']) 
df['t1_champ5'] = df['t1_champ5id'].apply(lambda x : champs['data'][x]['name']) 


df['t2_champ1'] = df['t2_champ1id'].apply(lambda x : champs['data'][x]['name'])
df['t2_champ2'] = df['t2_champ2id'].apply(lambda x : champs['data'][x]['name']) 
df['t2_champ3'] = df['t2_champ3id'].apply(lambda x : champs['data'][x]['name']) 
df['t2_champ4'] = df['t2_champ4id'].apply(lambda x : champs['data'][x]['name']) 
df['t2_champ5'] = df['t2_champ5id'].apply(lambda x : champs['data'][x]['name'])

In [32]:
df = df.drop('t1_champ1id',axis=1)
df = df.drop('t1_champ2id',axis=1)
df = df.drop('t1_champ3id',axis=1)
df = df.drop('t1_champ4id',axis=1)
df = df.drop('t1_champ5id',axis=1)

df = df.drop('t2_champ1id',axis=1)
df = df.drop('t2_champ2id',axis=1)
df = df.drop('t2_champ3id',axis=1)
df = df.drop('t2_champ4id',axis=1)
df = df.drop('t2_champ5id',axis=1)

In [33]:
df = df.drop('t1_champ1_sum1',axis=1)
df = df.drop('t1_champ2_sum1',axis=1)
df = df.drop('t1_champ3_sum1',axis=1)
df = df.drop('t1_champ4_sum1',axis=1)
df = df.drop('t1_champ5_sum1',axis=1)

df = df.drop('t1_champ1_sum2',axis=1)
df = df.drop('t1_champ2_sum2',axis=1)
df = df.drop('t1_champ3_sum2',axis=1)
df = df.drop('t1_champ4_sum2',axis=1)
df = df.drop('t1_champ5_sum2',axis=1)

df = df.drop('t2_champ1_sum1',axis=1)
df = df.drop('t2_champ2_sum1',axis=1)
df = df.drop('t2_champ3_sum1',axis=1)
df = df.drop('t2_champ4_sum1',axis=1)
df = df.drop('t2_champ5_sum1',axis=1)

df = df.drop('t2_champ1_sum2',axis=1)
df = df.drop('t2_champ2_sum2',axis=1)
df = df.drop('t2_champ3_sum2',axis=1)
df = df.drop('t2_champ4_sum2',axis=1)
df = df.drop('t2_champ5_sum2',axis=1)

In [34]:
df = df.drop('t1_ban1',axis=1)
df = df.drop('t1_ban2',axis=1)
df = df.drop('t1_ban3',axis=1)
df = df.drop('t1_ban4',axis=1)
df = df.drop('t1_ban5',axis=1)

df = df.drop('t2_ban1',axis=1)
df = df.drop('t2_ban2',axis=1)
df = df.drop('t2_ban3',axis=1)
df = df.drop('t2_ban4',axis=1)
df = df.drop('t2_ban5',axis=1)

In [35]:
df

,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_towerKills,t1_inhibitorKills,t1_baronKills,...,t1_champ1,t1_champ2,t1_champ3,t1_champ4,t1_champ5,t2_champ1,t2_champ2,t2_champ3,t2_champ4,t2_champ5
0,1,2,1,1,1,1,2,11,1,2,...,Vladimir,Bard,Kog'Maw,Master Yi,Viktor,Graves,Xayah,Darius,Zed,Thresh
1,1,1,1,1,0,1,1,10,4,0,...,Draven,Irelia,Nidalee,Kayle,Shaco,Malphite,Morgana,Hecarim,Yasuo,Riven
2,1,2,1,1,1,2,0,8,1,1,...,Tristana,Kayn,Nami,Rumble,Kassadin,Cassiopeia,Thresh,Jayce,Jax,Ashe
3,1,1,1,1,1,1,0,9,2,1,...,Maokai,Brand,Twitch,Orianna,Dr. Mundo,Malzahar,Warwick,Thresh,Riven,Ashe
4,1,2,1,1,1,1,0,9,2,1,...,Warwick,Twitch,Janna,Draven,Syndra,Sona,Jarvan IV,Kayn,Kassadin,Caitlyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,2,1,2,2,0,2,0,2,0,0,...,Warwick,Kalista,Talon,Bard,Lee Sin,Veigar,Yorick,Vayne,Janna,Gragas
51486,2,1,1,2,2,2,2,5,4,0,...,Malzahar,Amumu,Cho'Gath,Thresh,Tristana,Shyvana,Kalista,Leona,Nasus,Veigar
51487,2,2,2,2,0,1,0,0,0,0,...,Kayn,Tristana,Bard,Ezreal,Rumble,Annie,Draven,Rammus,Karma,Lux
51488,2,2,2,2,0,2,0,0,0,0,...,Kha'Zix,Lucian,Illaoi,Braum,Lux,Miss Fortune,Nocturne,Morgana,Karthus,Master Yi
51489,1,1,1,1,1,2,0,11,3,1,...,Leona,Annie,Camille,Sejuani,Jhin,Brand,Teemo,Twitch,Kha'Zix,Renekton

In [36]:
df = df.join(pd.get_dummies(df.t1_champ1,prefix='t1_champ1')).drop('t1_champ1',axis=1)
df = df.join(pd.get_dummies(df.t1_champ2,prefix='t1_champ2')).drop('t1_champ2',axis=1)
df = df.join(pd.get_dummies(df.t1_champ3,prefix='t1_champ3')).drop('t1_champ3',axis=1)
df = df.join(pd.get_dummies(df.t1_champ4,prefix='t1_champ4')).drop('t1_champ4',axis=1)
df = df.join(pd.get_dummies(df.t1_champ5,prefix='t1_champ5')).drop('t1_champ5',axis=1)

df = df.join(pd.get_dummies(df.t2_champ1,prefix='t2_champ1')).drop('t2_champ1',axis=1)
df = df.join(pd.get_dummies(df.t2_champ2,prefix='t2_champ2')).drop('t2_champ2',axis=1)
df = df.join(pd.get_dummies(df.t2_champ3,prefix='t2_champ3')).drop('t2_champ3',axis=1)
df = df.join(pd.get_dummies(df.t2_champ4,prefix='t2_champ4')).drop('t2_champ4',axis=1)
df = df.join(pd.get_dummies(df.t2_champ5,prefix='t2_champ5')).drop('t2_champ5',axis=1)

In [38]:
df

,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_towerKills,t1_inhibitorKills,t1_baronKills,...,t2_champ5_Xayah,t2_champ5_Xerath,t2_champ5_Xin Zhao,t2_champ5_Yasuo,t2_champ5_Yorick,t2_champ5_Zac,t2_champ5_Zed,t2_champ5_Ziggs,t2_champ5_Zilean,t2_champ5_Zyra
0,1,2,1,1,1,1,2,11,1,2,...,False,False,False,False,False,False,False,False,False,False
1,1,1,1,1,0,1,1,10,4,0,...,False,False,False,False,False,False,False,False,False,False
2,1,2,1,1,1,2,0,8,1,1,...,False,False,False,False,False,False,False,False,False,False
3,1,1,1,1,1,1,0,9,2,1,...,False,False,False,False,False,False,False,False,False,False
4,1,2,1,1,1,1,0,9,2,1,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,2,1,2,2,0,2,0,2,0,0,...,False,False,False,False,False,False,False,False,False,False
51486,2,1,1,2,2,2,2,5,4,0,...,False,False,False,False,False,False,False,False,False,False
51487,2,2,2,2,0,1,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
51488,2,2,2,2,0,2,0,0,0,0,...,False,False,False,False,False,False,False,False,False,False
51489,1,1,1,1,1,2,0,11,3,1,...,False,False,False,False,False,False,False,False,False,False

In [39]:
X = df.drop('winner',axis=1)
y = df['winner']

In [52]:
from sklearn.model_selection import train_test_split
X_train, X_test , y_train , y_test = train_test_split(X,y,test_size=0.2)

In [51]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_jobs=-1)
rfc.fit(X_train,y_train)
rfc.score(X_test,y_test)

0.9667249304071988